# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.FPS - Kaz Born.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Compasso\Unity\fps-unity\FPS - Kaz Born\.idea\.idea.FPS - Kaz Born\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
